<!-------------------------------------------Inicio do Carousel------------------------------------------>
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="assets/img1.jpg" alt="Primeiro Slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="assets/img2.jpg" alt="Segundo Slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="assets/img3.jpg" alt="Terceiro Slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="assets/img4.jpg" alt="Quarto Slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="assets/img5.jpg" alt="Quinto Slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Próximo</span>
    </a>

</div>

<!-------------------------------------------Fim do Carousel------------------------------------------>


<!-------------------------------------------Inicio do corpo do Home------------------------------------------>

<div class="cotainer">
    <div>
        <div class="tituloTempo_Culinaria">
            <h3>Tempo</h3>
        </div>
        <a href="https://www.climatempo.com.br/previsao-do-tempo/cidade/3408/chapadagaucha-mg">
            <div class="imagemTempo_Culinaria">
                <img class="d-block w-50" src="assets/Clima.jpg" alt="Quinto Slide">
            </div>
        </a>
    </div>
    <div>
        <div class="tituloTempo_Culinaria">
            <h3>Culinaria</h3>
        </div>
        <a href="https://www.dlurdes.com.br/pratos-tipicos-da-culinaria-mineira/">
            <div class="imagemTempo_Culinaria">
                <img class="d-block w-50" src="assets/Culinaria.jpg" alt="Quinto Slide">
            </div>
        </a>
    </div>
    <div>
        <div class="titulo_Esport">
            <h3>Esportes</h3>
        </div>
        
        <a href="https://www.mg.superesportes.com.br/">
            <div class="imagAgro_Esport">
                <img class="d-block w-100" src="assets/esporte.jpg" alt="Quinto Slide">
            </div>
        </a>
    </div>

    <div>
        <div class="titulo_Esport">
            <h3>Agro</h3>
        </div>
        
        <a href="https://agrosaber.com.br/">
            <div class="imagAgro_Esport">
                <img class="d-block w-100" src="assets/agro.jpg" alt="Quinto Slide">
            </div>
        </a>
    </div>


</div>

<!-------------------------------------------Fim do corpo do Home------------------------------------------>


<!-------------------------------------------Inicio do rodape------------------------------------------>
<div>
    <footer class="rodape">
        <div class="container">
            <div class="quemSomos">

                <div class="textoQuemSomos"> &nbsp;
                    <h5>Quem Somos</h5>
                    <p>O Site Belezas da minha terra, é voltado para os assuntos relacionados ao município de Chapada
                        Gaúcha-MG.
                        Nele podemos conhecer as comunidades do município, sua historia e cultura.
                    </p>
                </div>

            </div>

        </div>
        <div class="redesSociais">
            <div id="tituloRedesSocias">
                <h5>Redes Sociais</h5>
                <div class="iconesInstagram">
                    <img src="assets/instagram.svg" alt="Simples Ideias" width="130px" height="130px">
                </div>
                <div class="iconesFace">
                    <img src="assets/face.svg" alt="Simples Ideias" width="130px" height="250px">
                </div>

            </div>
        </div>
        <div class="telefone">
            <h5>Telefone</h5>
            <h6>(00) 0000-0000</h6>
            <h6>(00) 0000-0000</h6>
            <h6>(00) 0000-0000</h6>
        </div>
    </footer>
    <!-------------------------------------------Fim do rodape--------------------------------------------->
</div>